


<div class="container">

  <div class="container_1 p-4">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <div class="hidden md:flex md:mb-2 md:gap-3 md:justify-content-end ">

          <img src="assets/images/LogoMp2.png" height="36px" class="">

        </div>
      </ng-template>
      <ng-template pTemplate="end">
        <p-avatar
        icon="pi pi-user"
        styleClass="mr-2"
        size="large"
        [style]="{ 'background-color': '#ece9fc', color: '#2a1261' }"
        shape="circle" />
      </ng-template>
    </p-menubar>
  </div>

  <div class="container_2 grid bg-white h-5rem mx-5 justify-content-center align-content-center">
    <div class="col-10">
      <h2 class="pl-4"> Almacen </h2>
    </div>
    <div class="col-2 text-right">
      <div class="h-4rem bg-blue-500 mb-1 mt-2 flex justify-content-center align-items-center">
        <p class=" text-white ">
          $. 2300.403
        </p>
      </div>


    </div>
  </div>



  <div class="container_3 mx-6 mt-4">
    <div class="card">
      <p-table
          [value]="products"
          styleClass="p-datatable-striped"
          [tableStyle]="{'min-width': '80rem'}">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Tipo_Despacho</th>
                      <th>Cliente/Almacen de Destino/OF</th>
                      <th>Dirección_de_entrega</th>
                      <th>F_Entrega</th>
                      <th>Código</th>
                      <th>Descripción_Producto</th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product >
                  <tr>
                    <td>
                      <p-dropdown
                      [options]="TiposDespachos"
                      optionLabel="name"
                      placeholder="Select a City"
                      optionLabel="detalle"/>
                  </td>
                    <td>{{product.name }}</td>
                    <td>{{product.job }}</td>
                    <td>{{product.job }}</td>
                    <td>{{product.job }}</td>
                    <td>{{product.job }}</td>
                    <td class="flex">
                      <div>

                        @if(product.job ===  'Astronaut'){
                            <p-button size="small" icon="pi pi-money-bill"
                            [rounded]="true"
                            severity="success" pTooltip="Cantidad"   />
                        }
                      </div>
                      <p-divider layout="vertical" />
                      <div>

                        @if(product.job ===  'Astronaut'){

                          <p-button size="small" icon="pi pi-check-circle"
                          severity="primary"
                          [rounded]="true"
                          pTooltip="Autorización Finanzas"    />

                      }
                      </div>
                    <p-divider layout="vertical" />
                    <div>

                      @if(product.job ===  'Astronaut'){

                        <p-button size="small" icon="pi pi-file"
                        [rounded]="true"
                        severity="warning" pTooltip="Documentación para Mina"    tooltipPosition="left"  />

                    }
                    </div>
                    </td>
                  </tr>
              </ng-template>
      </p-table>
  </div>
  </div>



  <div class="container_4 h-5rem">

  </div>




</div>
